<h1 class="text-center">Notes Component</h1>
<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident repellat aliquam. Fugiat ad quisquam autem ullam a aperiam asperiores sunt officiis? Magnam, error. Fuga voluptate labore repellendus omnis consectetur cupiditate praesentium tempore obcaecati iusto doloribus, atque vero reprehenderit quasi placeat quo eius odio corporis quas ullam vel modi hic. Quas deleniti consequatur impedit suscipit omnis, ullam optio quia voluptatibus voluptatum quod, exercitationem adipisci quae. Iure ipsum non, provident natus et enim sunt, ullam accusamus consequatur dolorum, sit delectus? Neque nobis excepturi reprehenderit, dolorem ullam, aspernatur veniam ab iusto voluptatem explicabo, labore numquam! Aut omnis excepturi iusto illum inventore cum?</p>
<span class="ml-5 mr-5"><a [routerLink]="['public']" class="btn btn-info">Public</a></span> <span class="ml-5"><a [routerLink]="['personal']" class="btn btn-success">Personal</a></span>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
