<div class="row">
  <div class="col-md-6 offset-3">
    <h1 class="text-center">Personal</h1>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vel aliquam, voluptas nostrum optio corrupti unde, doloremque corporis illum officia sapiente porro, accusamus quam ab ducimus doloribus repellat alias? Eveniet, aliquam incidunt dignissimos, deserunt labore quam dolore consectetur ea eum, molestias delectus eaque quisquam deleniti eos reprehenderit. Eius, ipsa culpa.</p>
  </div>
</div>
